header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: solid red;

  nav {
    display: flex;
    justify-content: right;

    ul {
      display: flex;
      gap: 16px;

      li {
        list-style-type: none;
      }
    }
  }
}