@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

html {
  color: white;
  font-family: 'Nunito', sans-serif;
  height: 100%;
  background-repeat: no-repeat;
  background: #95F9C4;
  background: linear-gradient(135deg, #95F9C4 0%, #1BDAD4 51%, #2585E4 100%);
  background: -moz-linear-gradient(135deg, #95F9C4 0%, #1BDAD4 51%, #2585E4 100%);
  background: -webkit-linear-gradient(135deg, #95F9C4 0%, #1BDAD4 51%, #2585E4 100%);
  font-size: 16px;
}